# Cleaning and Preparing the Kaggle Online Courses Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/souha/OneDrive/Desktop/opus internship/Online_Courses.csv",index_col=0)

In [3]:
data.head(10)

,Title,URL,Short Intro,Category,Sub-Category,Course Type,Language,Subtitle Languages,Skills,Instructors,...,Course Short Intro,Weekly study,Premium course,What's include,Rank,Created by,Program,Number of ratings,Price,COURSE CATEGORIES
0,Machine Learning Specialization,https://www.coursera.org/specializations/machi...,#BreakIntoAI with Machine Learning Specializat...,Data Science,Machine Learning,Specialization,English,Subtitles: English,"Decision Trees, Artificial Neural Network, Log...","Andrew Ng ,Eddy Shyu ,Aarti Bagul ,Geoff Ladwig ,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Introduction to Data Science Specialization,https://www.coursera.org/specializations/intro...,Launch your career in data science. Gain found...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Relational Database Management S...","Rav Ahuja ,Alex Aklson ,Aije Egwaikhide ,Svetl...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Data Science Fundamentals with Python and SQL ...,https://www.coursera.org/specializations/data-...,Build the Foundation for your Data Science car...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Github, Python Programming, Jupy...","Aije Egwaikhide ,Svetlana Levitan ,Romeo Kienz...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Key Technologies for Business Specialization,https://www.coursera.org/specializations/key-t...,Get Ahead with Key Business Technologies. Gain...,Business,Business Essentials,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Artificial Intelligence (AI), Bu...","Rav Ahuja ,Alex Aklson ,",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Deep Learning Specialization,https://www.coursera.org/specializations/deep-...,Become a Machine Learning expert. Master the f...,Data Science,Machine Learning,Specialization,English,"Subtitles: English, Chinese (Traditional), Ara...","Artificial Neural Network, Convolutional Neura...","Andrew Ng ,Kian Katanforoosh ,Younes Bensouda ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,IBM & Darden Digital Strategy Specialization,https://www.coursera.org/specializations/digit...,Get ahead with key business and technical skil...,Data Science,Machine Learning,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Digital transformation, Artifici...","Rav Ahuja ,Jared Harris ,Michael Lenox ,Rajkum...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,IBM AI Foundations for Business Specialization,https://www.coursera.org/specializations/ibm-a...,NaN,Data Science,Machine Learning,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Artificial Intelligence (AI), In...","Rav Ahuja ,Alex Aklson ,Mark J Grover ,Ray Lop...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Data Analysis and Visualization Foundations Sp...,https://www.coursera.org/specializations/data-...,Get ahead w/ Data Analysis & Visualization ski...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Spreadsheet, Microsoft Excel, Da...","Rav Ahuja ,Sandip Saha Joy ,Steve Ryan ,Kevin ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Applied Data Science Specialization,https://www.coursera.org/specializations/appli...,Get hands-on skills for a career in data scien...,Data Science,Machine Learning,Specialization,English,"Subtitles: English, Korean, Arabic, French, Po...","Data Science, Python Programming, Data Analysi...","Joseph Santarcangelo ,Azim Hirjani ,Saishruthi...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Data Engineering Foundations Specialization,https://www.coursera.org/specializations/data-...,Build the Foundation for a Data Engineering Ca...,Information Technology,Data Management,Specialization,English,"Subtitles: English, Korean, Arabic, Persian","Information Engineering, Python Programming, E...","Rav Ahuja ,Priya Kapoor ,Joseph Santarcangelo ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 1)Vérification des informations générales

In [4]:
data.shape

(8092, 44)

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 8092 entries, 0 to 147
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Title                  8092 non-null   object
 1   URL                    8092 non-null   object
 2   Short Intro            8040 non-null   object
 3   Category               2819 non-null   object
 4   Sub-Category           2819 non-null   object
 5   Course Type            2819 non-null   object
 6   Language               2819 non-null   object
 7   Subtitle Languages     2802 non-null   object
 8   Skills                 2099 non-null   object
 9   Instructors            2808 non-null   object
 10  Rating                 2742 non-null   object
 11  Number of viewers      2695 non-null   object
 12  Duration               7944 non-null   object
 13  Site                   8092 non-null   object
 14  Program Type           282 non-null    object
 15  Courses                4944 non-null   object
 16  Level                  181 non-null    object
 17  Number of Reviews      47 non-null     object
 18  Unique Projects        0 non-null      float64
 19  Prequisites            281 non-null    object
 20  What you learn         278 non-null    object
 21  Related Programs       85 non-null     object
 22  Monthly access         98 non-null     object
 23  6-Month access         2 non-null      object
 24  4-Month access         38 non-null     object
 25  3-Month access         26 non-null     object
 26  5-Month access         2 non-null      object
 27  2-Month access         10 non-null     object
 28  School                 271 non-null    object
 29  Topics related to CRM  4666 non-null   object
 30  ExpertTracks           4843 non-null   object
 31  FAQs                   1083 non-null   object
 32  Course Title           4843 non-null   object
 33  Course URL             4843 non-null   object
 34  Course Short Intro     4843 non-null   object
 35  Weekly study           4843 non-null   object
 36  Premium course         1622 non-null   object
 37  What's include         419 non-null    object
 38  Rank                   37 non-null     object
 39  Created by             37 non-null     object
 40  Program                148 non-null    object
 41  Number of ratings      126 non-null    object
 42  Price                  65 non-null     float64
 43  COURSE CATEGORIES      148 non-null    object
dtypes: float64(2), object(42)
memory usage: 2.8+ MB
None

### Statistiques descriptives

In [6]:
data.describe()

       Unique Projects        Price
count              0.0    65.000000
mean               NaN   903.830769
std                NaN   665.949617
min                NaN   129.000000
25%                NaN   534.000000
50%                NaN   855.000000
75%                NaN  1099.000000
max                NaN  4600.000000

### Détection des valeurs manquantes:

In [7]:
data.isnull().sum()

Title                       0
URL                         0
Short Intro                52
Category                 5273
Sub-Category             5273
Course Type              5273
Language                 5273
Subtitle Languages       5290
Skills                   5993
Instructors              5284
Rating                   5350
Number of viewers        5397
Duration                  148
Site                        0
Program Type             7810
Courses                  3148
Level                    7911
Number of Reviews        8045
Unique Projects          8092
Prequisites              7811
What you learn           7814
Related Programs         8007
Monthly access           7994
6-Month access           8090
4-Month access           8054
3-Month access           8066
5-Month access           8090
2-Month access           8082
School                   7821
Topics related to CRM    3426
ExpertTracks             3249
FAQs                     7009
Course Title             3249
Course URL               3249
Course Short Intro       3249
Weekly study             3249
Premium course           6470
What's include           7673
Rank                     8055
Created by               8055
Program                  7944
Number of ratings        7966
Price                    8027
COURSE CATEGORIES        7944
dtype: int64

In [8]:
num_cols = data.select_dtypes(include=['int64', 'float64']).columns
cat_cols = data.select_dtypes(include=['object', 'bool']).columns
print("VARIABLES QUANTITATIVES:", num_cols.tolist())
print("VARIABLES QUALITATIVES:", cat_cols.tolist())

VARIABLES QUANTITATIVES: ['Unique Projects', 'Price']
VARIABLES QUALITATIVES: ['Title', 'URL', 'Short Intro', 'Category', 'Sub-Category', 'Course Type', 'Language', 'Subtitle Languages', 'Skills', 'Instructors', 'Rating', 'Number of viewers', 'Duration', 'Site', 'Program Type', 'Courses', 'Level', 'Number of Reviews', 'Prequisites', 'What you learn', 'Related Programs', 'Monthly access', '6-Month access', '4-Month access', '3-Month access', '5-Month access', '2-Month access', 'School', 'Topics related to CRM', 'ExpertTracks', 'FAQs', 'Course Title', 'Course URL', 'Course Short Intro', 'Weekly study', 'Premium course', "What's include", 'Rank', 'Created by', 'Program', 'Number of ratings', 'COURSE CATEGORIES']

### Nettoyage des valeurs manquantes:

### a) Supprimer la colonne "Unique Projects" (100% vide):

In [9]:
data = data.drop('Unique Projects', axis=1)
print("la colonne 'Unique Projects' est supprimée ")
# Mettre à jour num_cols après suppression
num_cols = data.select_dtypes(include=['int64', 'float64']).columns
print("Variables quantitatives après suppression:", num_cols.tolist())

la colonne 'Unique Projects' est supprimée
Variables quantitatives après suppression: ['Price']

### b)Nettoyer les variables quantitatives avec médiane:

In [10]:
data[num_cols] = data[num_cols].apply(lambda x: x.fillna(x.median()))
print("✓ Variables quantitatives nettoyées avec médiane")

✓ Variables quantitatives nettoyées avec médiane

### c) Nettoyer les variables qualitatives avec mode:

In [11]:
data[cat_cols] = data[cat_cols].apply(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Unknown'))
print("✓ Variables qualitatives nettoyées avec mode")

✓ Variables qualitatives nettoyées avec mode

### d)vérifiaction finale:

In [12]:
# VÉRIFICATION FINALE
print("\nVÉRIFICATION APRÈS NETTOYAGE:")
missing_after = data.isnull().sum()
total_missing = missing_after.sum()

print(f"Valeurs manquantes totales: {total_missing}")

if total_missing == 0:
    print("---->DATASET COMPLÈTEMENT NETTOYÉ!")
else:
    print("Colonnes avec valeurs manquantes restantes:")
    print(missing_after[missing_after > 0])

VÉRIFICATION APRÈS NETTOYAGE:
Valeurs manquantes totales: 0
---->DATASET COMPLÈTEMENT NETTOYÉ!

In [13]:
print("\n=== STATISTIQUES FINALES ===")
print(f"Dimensions: {data.shape}")
print(f"Colonnes quantitatives: {len(data.select_dtypes(include=['int64', 'float64']).columns)}")
print(f"Colonnes qualitatives: {len(data.select_dtypes(include=['object', 'bool']).columns)}")
print(f"Valeurs manquantes: {data.isnull().sum().sum()}")

=== STATISTIQUES FINALES ===
Dimensions: (8092, 43)
Colonnes quantitatives: 1
Colonnes qualitatives: 42
Valeurs manquantes: 0

### Conversion des colonnes numériques contenant du texte

In [14]:
cols_to_convert = ['Rating', 'Price', 'Duration', 'Number of viewers']

for col in cols_to_convert:
    if col in data.columns:
        data[col] = (
            data[col]
            .astype(str)
            .str.replace(r'[^0-9.,]', '', regex=True)  # remove text
            .str.replace(',', '', regex=False)
            .replace('', np.nan)
        )
        data[col] = pd.to_numeric(data[col], errors='coerce')
        data[col] = data[col].fillna(data[col].median())
print("✅ Converted numeric text fields and filled missing with median")

✅ Converted numeric text fields and filled missing with median

### Extraction des attributs clés

In [15]:
keep_cols = [
    'Title', 'Category', 'Language', 'Site', 'Level',
    'Price', 'Rating', 'Duration', 'Skills',
    'Number of viewers', 'Instructors', 'Program Type',
    'Is_Free', 'Price_Range'
]

# Keep only columns that exist in your dataset
keep_cols = [col for col in keep_cols if col in data.columns]

data_selected = data[keep_cols].copy()

print("✅ Final dataset prepared with columns:")
print(data_selected.columns.tolist())

✅ Final dataset prepared with columns:
['Title', 'Category', 'Language', 'Site', 'Level', 'Price', 'Rating', 'Duration', 'Skills', 'Number of viewers', 'Instructors', 'Program Type']

### Vérification finale

In [16]:
print("\n--- MISSING VALUES AFTER CLEANING ---")
print(data_selected.isnull().sum())
print("\nShape:", data_selected.shape)
display(data_selected.head(10))

--- MISSING VALUES AFTER CLEANING ---
Title                0
Category             0
Language             0
Site                 0
Level                0
Price                0
Rating               0
Duration             0
Skills               0
Number of viewers    0
Instructors          0
Program Type         0
dtype: int64

Shape: (8092, 12)

,Title,Category,Language,Site,Level,Price,Rating,Duration,Skills,Number of viewers,Instructors,Program Type
0,Machine Learning Specialization,Data Science,English,Coursera,Intermediate,855.0,4.9,3.0,"Decision Trees, Artificial Neural Network, Log...",10438,"Andrew Ng ,Eddy Shyu ,Aarti Bagul ,Geoff Ladwig ,",Free Course
1,Introduction to Data Science Specialization,Data Science,English,Coursera,Intermediate,855.0,4.7,5.0,"Data Science, Relational Database Management S...",11927,"Rav Ahuja ,Alex Aklson ,Aije Egwaikhide ,Svetl...",Free Course
2,Data Science Fundamentals with Python and SQL ...,Data Science,English,Coursera,Intermediate,855.0,4.6,7.0,"Data Science, Github, Python Programming, Jupy...",2295,"Aije Egwaikhide ,Svetlana Levitan ,Romeo Kienz...",Free Course
3,Key Technologies for Business Specialization,Business,English,Coursera,Intermediate,855.0,4.7,3.0,"Data Science, Artificial Intelligence (AI), Bu...",1232,"Rav Ahuja ,Alex Aklson ,",Free Course
4,Deep Learning Specialization,Data Science,English,Coursera,Intermediate,855.0,4.9,5.0,"Artificial Neural Network, Convolutional Neura...",129253,"Andrew Ng ,Kian Katanforoosh ,Younes Bensouda ...",Free Course
5,IBM & Darden Digital Strategy Specialization,Data Science,English,Coursera,Intermediate,855.0,4.8,7.0,"Data Science, Digital transformation, Artifici...",262,"Rav Ahuja ,Jared Harris ,Michael Lenox ,Rajkum...",Free Course
6,IBM AI Foundations for Business Specialization,Data Science,English,Coursera,Intermediate,855.0,4.7,2.0,"Data Science, Artificial Intelligence (AI), In...",1076,"Rav Ahuja ,Alex Aklson ,Mark J Grover ,Ray Lop...",Free Course
7,Data Analysis and Visualization Foundations Sp...,Data Science,English,Coursera,Intermediate,855.0,4.8,4.0,"Data Science, Spreadsheet, Microsoft Excel, Da...",2171,"Rav Ahuja ,Sandip Saha Joy ,Steve Ryan ,Kevin ...",Free Course
8,Applied Data Science Specialization,Data Science,English,Coursera,Intermediate,855.0,4.6,6.0,"Data Science, Python Programming, Data Analysi...",7175,"Joseph Santarcangelo ,Azim Hirjani ,Saishruthi...",Free Course
9,Data Engineering Foundations Specialization,Information Technology,English,Coursera,Intermediate,855.0,4.7,5.0,"Information Engineering, Python Programming, E...",922,"Rav Ahuja ,Priya Kapoor ,Joseph Santarcangelo ...",Free Course

### Aperçu du dataset final

In [17]:
display(data_selected.head())

,Title,Category,Language,Site,Level,Price,Rating,Duration,Skills,Number of viewers,Instructors,Program Type
0,Machine Learning Specialization,Data Science,English,Coursera,Intermediate,855.0,4.9,3.0,"Decision Trees, Artificial Neural Network, Log...",10438,"Andrew Ng ,Eddy Shyu ,Aarti Bagul ,Geoff Ladwig ,",Free Course
1,Introduction to Data Science Specialization,Data Science,English,Coursera,Intermediate,855.0,4.7,5.0,"Data Science, Relational Database Management S...",11927,"Rav Ahuja ,Alex Aklson ,Aije Egwaikhide ,Svetl...",Free Course
2,Data Science Fundamentals with Python and SQL ...,Data Science,English,Coursera,Intermediate,855.0,4.6,7.0,"Data Science, Github, Python Programming, Jupy...",2295,"Aije Egwaikhide ,Svetlana Levitan ,Romeo Kienz...",Free Course
3,Key Technologies for Business Specialization,Business,English,Coursera,Intermediate,855.0,4.7,3.0,"Data Science, Artificial Intelligence (AI), Bu...",1232,"Rav Ahuja ,Alex Aklson ,",Free Course
4,Deep Learning Specialization,Data Science,English,Coursera,Intermediate,855.0,4.9,5.0,"Artificial Neural Network, Convolutional Neura...",129253,"Andrew Ng ,Kian Katanforoosh ,Younes Bensouda ...",Free Course

### Sauvegarde du dataset nettoyé

In [18]:
data_selected.to_csv("C:/Users/souha/OneDrive/Desktop/opus internship/Online_Courses_Cleaned.csv", index=False)
print("✅ Cleaned dataset saved successfully!")

✅ Cleaned dataset saved successfully!

In [19]:
data_selected.isnull().sum()

Title                0
Category             0
Language             0
Site                 0
Level                0
Price                0
Rating               0
Duration             0
Skills               0
Number of viewers    0
Instructors          0
Program Type         0
dtype: int64